code
data
data_raw
docker
docker-compose.yml
.drake
.DS_Store
.git
.gitconfig
.git-credential-cache
.gitignore
images
install_packages.R
kitematic
make.log
make.R
ms
ms_files
ms.html
ms.Rmd
pleurosoriopsis.Rproj
README.md
results
.Rhistory
.Rprofile
.Rproj.user
.rstudio
temp
