.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.bash_history
.gitconfig
.rstudio
.Rprofile
.drake/
data
reports
results
temp
ms
ms.pdf
*.html
*.log
*_cache/
*_files/
packrat/*
!packrat/packrat.lock
